In [1]:
import requests

In [19]:
import json

In [33]:
#API Address of OpenWeatherMap also converting it into a celsius
api_address="https://api.openweathermap.org/data/2.5/weather?&appid=c06e080eee7cadb4ea65ff2e3a4c04d0&units=metric&q="
#Giving City Name as Input 
city_name=input("Enter the City Name : ")
#Concatenating both city name and api address
url_id=api_address + city_name
#Getting the JSON format of data 
json_data=requests.get(url_id).json()
#Printing the data of a particular city in Pretty Json format way
print(json.dumps(json_data,indent=2))

Enter the City Name : Delhi
{
  "coord": {
    "lon": 77.2167,
    "lat": 28.6667
  },
  "weather": [
    {
      "id": 721,
      "main": "Haze",
      "description": "haze",
      "icon": "50d"
    }
  ],
  "base": "stations",
  "main": {
    "temp": 42.05,
    "feels_like": 45.7,
    "temp_min": 42.05,
    "temp_max": 42.05,
    "pressure": 999,
    "humidity": 27
  },
  "visibility": 4500,
  "wind": {
    "speed": 4.12,
    "deg": 290
  },
  "clouds": {
    "all": 40
  },
  "dt": 1625655517,
  "sys": {
    "type": 1,
    "id": 9165,
    "country": "IN",
    "sunrise": 1625615942,
    "sunset": 1625665958
  },
  "timezone": 19800,
  "id": 1273294,
  "name": "Delhi",
  "cod": 200
}

In [34]:
#Json Format way but not pretty
print(json_data)

{'coord': {'lon': 77.2167, 'lat': 28.6667}, 'weather': [{'id': 721, 'main': 'Haze', 'description': 'haze', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 42.05, 'feels_like': 45.7, 'temp_min': 42.05, 'temp_max': 42.05, 'pressure': 999, 'humidity': 27}, 'visibility': 4500, 'wind': {'speed': 4.12, 'deg': 290}, 'clouds': {'all': 40}, 'dt': 1625655517, 'sys': {'type': 1, 'id': 9165, 'country': 'IN', 'sunrise': 1625615942, 'sunset': 1625665958}, 'timezone': 19800, 'id': 1273294, 'name': 'Delhi', 'cod': 200}