In [1]:
#Strings

In [2]:
States=["Delhi","Karnataka","TamilNadu","Kerala","UP"]
print(States)

['Delhi', 'Karnataka', 'TamilNadu', 'Kerala', 'UP']

In [3]:
#Lists

In [26]:
DOB=["August",7,8,"May","jul",1995]
print(DOB)
DOB[2]
#Able to append or delete

['August', 7, 8, 'May', 'jul', 1995]

8

In [25]:
#Append
DOB.append("Jan")
print(DOB)

['August', 7, 'May', 'jul', 1995, 'Jan']

In [24]:
#Delete
DOB=["August",7,8,"May","jul",1995]
del DOB[2]
print(DOB)

['August', 7, 'May', 'jul', 1995]

In [16]:
#Tuples

In [21]:
a=(1,"rahul","karthik","manja",5,8)
print(a)
a[1]
#Not able to append or delete

(1, 'rahul', 'karthik', 'manja', 5, 8)

'rahul'

In [78]:
#Dictionary

In [77]:
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" 
}
sampleDict["city"]

'New york'